$cell-size: 10px;
$bossColor: #800000;

.tile {
  display: inline-block;
  height: $cell-size;
  width: $cell-size;
  box-sizing: border-box;
}

.hero {
  @extend .tile;
  background-color: blue;
}

.wall {
  @extend .tile;
  background-color: black;
}

.floor {
  @extend .tile;
  background-color: #D1DBBD;
}

.enemy {
  @extend .tile;
  background-color: #8E2800;
}

.health {
  @extend .tile;
  background-color: green;
}

.weapon {
  @extend .tile;
  background-color: orange;
}

.stairs {
  @extend .tile;
  background-color: purple;
}

.boss {
  @extend .tile;
  background-color: red;
}
